name: Test

on:
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
      - "testtools/**"
      - ".github/workflows/**"
  workflow_dispatch:
  workflow_call:
    inputs:
      continue-on-error:
        description: Continue on error
        required: false
        type: boolean
        default: false
env:
  Module: git-completion
jobs:
  test:
    strategy:
      fail-fast: ${{ github.event_name != 'pull_request' }}
      matrix:
        shell: [pwsh]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            shell: powershell
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Update git command
        uses: ./.github/actions/latest-git
      - name: Run Pester
        if: matrix.shell == 'pwsh'
        shell: pwsh
        continue-on-error: ${{ inputs.continue-on-error }}
        run: Invoke-Pester -CI
      - name: Run Pester(Windows PowerShell)
        if: matrix.shell == 'powershell'
        shell: powershell
        continue-on-error: ${{ inputs.continue-on-error }}
        run: Invoke-Pester -CI
